<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Contato</title>

    <style>
        #cabecalho{
            padding-top: 15px;
            padding-bottom: 15px;
            background-image: url("base-cabecalho.png");
            background-size: 100%;
        }

        #titulo{
            color:green;
            font-size: 30px;
            margin-left: 5px;
        }

        #meuLink{
            text-decoration: none;
            color: white;
            background-color: green;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #side{
            padding-left: 75%;
        }

        #centro{
            text-align: center;
        }

        #pesquisa{
            background-color: green;
            margin: auto;
            color: white;
            margin-top: 10px;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }

        #formulario{
            background-color: green;
            margin: auto;
            width: 30%;
            margin-top: 3%;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
        }

        body{
            background-image: url("bg-ondas.png");
            background-size: 100%;
        }

        #imagem{
            margin-left: 2%;
        }


		#btn{
            margin-top: 2%;
        }

    </style>

</head>
<body>
    <div id="cabecalho">
        <img src="logo-icone-cabecalho.png" id="imagem">
        <span id="titulo">Apagar Contato</span>
        <span id="side">
            <a href="/users" id="meuLink">Contatos</a>
        </span>
    </div>

    <div id="pesquisa">
        <form action="/buscadelete" method="POST">
            <label for="nomeBusca" name="lblNomeBusca">Digite o nome do Contato:</label>
            <input type="text" name="nomeBusca">
            <button type="submit">Procurar</button>
        </form>
    </div>

    <div id="centro">
        <form action="/delete" method="POST" id="formulario">
            <label for="idContato" name="lblIdContato">N°:</label></br>
            <input type="text" name="idContato" readonly value=<%= contato.rows[0].id %>><br>
            <label for="nomeContato" name="lblNomeContato">Nome:</label></br>
            <input type="text" name="nomeContato" value=<%= contato.rows[0].nome %>><br>
            <label for="telefoneContato" name="lblTelefoneContato">Telefone:</label></br>
            <input type="text" name="telefoneContato" value=<%= contato.rows[0].telefone %>><br>
            <label for="emailContato" name="lblEmailContato">Email:</label></br>
            <input type="text" name="emailContato" value=<%= contato.rows[0].email %>><br>
            <label for="enderecoContato" name="lblEncerecoContato">Endereço:</label></br>
            <input type="text" name="enderecoContato" value=<%= contato.rows[0].endereco %>><br>
            <label for="cidadeContato" name="lblCidadeContato">Cidade:</label></br>
            <input type="text" name="cidadeContato" value=<%= contato.rows[0].cidade %>><br>
            <label for="cepContato" name="lblCepContato">CEP:</label></br>
            <input type="text" name="cepContato" value=<%= contato.rows[0].cep %>><br>
            <label for="grupoContato" name="lblGrupoContato">Grupo:</label></br>
            <input type="text" name="grupoContato" value=<%= contato.rows[0].grupo %>><br>
            <button type="submit" id="btn">Deletar</button>
        </form>
    </div>


</body>
</html>