<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    
    <div>
        <a href="/users/cadastro">Cadastar contato </a>
        <a href="/users/update">Atualizar contato </a>
        <a href="/users/delete">Apagar contato </a>
    </div>

<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <div>
        <li>
            <spam> </spam>
            <spam>Nome </spam>
            <spam>Telefone </spam>
            <spam>Email </spam>
            <spam>Endereço </spam>
            <spam>Cidade </spam>
            <spam>CEP </spam>
        </li>
    </div>

    <div>
        <% for(var i = 0; i<contatos.rows.length; i++){ %>
            <%= contatos.rows[i].nome %>
            <%= contatos.rows[i].telefone %>
            <%= contatos.rows[i].email %>
            <%= contatos.rows[i].endereco %>
            <%= contatos.rows[i].cidade %>
            <%= contatos.rows[i].cep %>
            <br>
        <% } %>
    </div>

<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

</body>
</html>